<div class="row">
  <%= render 'public/genres/genre_search', genres: @genres %>
  <div class="col-md-9">
    <div class="row product">
      <div class="col-md-3">
         <h3><%= @genre.name %>一覧</h3>
      </div>
    </div>
    <% if @products.empty? %>
      <h4>該当する商品はありません</h4>
    <% end %>
    <!--商品一覧-->
    <%= render 'product_list', products: @products %>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-6">
    <%= paginate @products %>         
  </div>
</div>