// Place all the styles related to the public::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-table {
  margin-top: 40px;
  padding: 10px;

}
.search-table thead {
  color: #5d1b1d;
  background-color: #F5F3E9;
  border: 1px solid #D2B48C;
}
.search-table th {
  font-size: 15px;
  padding: 10px 45px;
}
.search-table tbody {
  border: 1px solid #D2B48C;
  border-top: none;
}
.genre-item {
  display: block;
  color: #5d1b1d;
  text-align: center;
  margin: 13px 0;
}