// Place all the styles related to the public::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-table {
  margin-top: 40px;
  border: 1px solid gray;
}
.search-table thead {
  border-bottom: 1px solid gray;
}

.search-table th {
  font-size: 18px;
  padding: 3px 50px;
}
.genre-item {
  margin: 30pxx;
}
.genre-hyoji {
  margin-top: 0;
}
.genre-bt {
  margin-top: 0;
  margin-left: 50px;
}