// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual-background {
  background-image: url(img/nagano-top.jpg);
  background-size: cover;
  height: 250px;
  position: relative;
}

.main-visual-content {
  position: absolute;
  top: 25%;
  left: 19%;
  height: 100px;
  background-color: rgba(224,255,255,0.65);
  border-radius: 1em;
}

h1 {
  text-align: center;
}

.about-content {
  margin-top: 40px;
}

.about-content-text {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
