// Place all the styles related to the public::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.order-info {
  margin-top: 10px;
}
.order-table {
  margin-top: 40px;
}
.payment-info {
  padding-top: 30px;
}
//妻夫木追加(サンクスメッセージの位置調整)
.done-div {
  margin: 0 auto;
  padding-top: 200px;
}
.done {
  text-align: center;
}

//注文情報入力画面の新しい住所を入力のフォーム位置
.newrow {
  margin-bottom: 10px;
}

.form-control {
  margin-right: 50px;
}

.order-type-c {
  margin-left: 30px;
}
