<div class="row">
  <h3 class="header-background col-md-2">注文履歴一覧</h3>
</div>
  
<div class="row">
  <div id="order_list">
    <%= render "admin/orders/order_list", orders: @orders %>
  </div>
</div>
