<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3 class="header-background col-md-3">商品一覧</h3>
    <%= link_to "＋", new_admin_product_path, class: "pull-right new_product_btn" %>
    <div class="product_list">
      <%= render "admin/products/product_list", products: @products %>
    </div>
  </div>
</div>
