  <div class="row">
    <div class="done-div">
      <h2 class="done"><strong>🍰ご購入ありがとうございました！🍰</strong></h2>
      <h5 class="done">(10秒後にトップページに戻ります。)</h5>
      <meta http-equiv="refresh" content="10;URL=/">
      </div>
      </div>